<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Keyboard Warrior</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="css/test.css">
	<link rel="stylesheet" type="text/css" href="css/count-down.css">
	<link rel="stylesheet" type="text/css" href="css/shade-area.css">
	<link rel="stylesheet" type="text/css" href="css/folding-cube.css">
	<link rel="stylesheet" type="text/css" href="css/player-icon.css">


	<!-- Javascript dependent files -->
	<script src="js/slide.js"></script>
	<script src="js/battle.js"></script>
	<script src="js/panels.js"></script>
	<script src="js/game.js"></script>
	<script src="js/textcheck.js"></script>

</head>

<body>
	<!-- Splash screen-->
	<div id="SplashScreen" class="container" style="max-width: 330px">
		<img src="img/logo.png" height="330px" width="330px" />
		{% if loggedin %}
		<h4 id="hello" style="text-align: center">Hello {{ nickname }}</h4>
		<button id="StartButton" class="btn btn-lg btn-primary btn-block" type="submit">Start Game</button>
		<a class="btn btn-sm btn-link btn-block" href="{{ logouturl }}">Log Out</a>
		{% else %}
		<a class="btn btn-lg btn-primary btn-block" href="{{ loginurl }}">Log In</a>
		{% endif %}
		<div id="cog" class="settingsCog" role="main">
			<img src="img/cog.png" height="50px" width="50px" />
		</div>

		{% if leaders|length > 1 %}
		<div id="leaderboardTable" style="margin-left:-50px">
			<table class="table">
				<thead>
					<tr>
					<th>Pos</th>
					<th>Player</th>
					<th>WPM</th>
					<th>Accuracy</th>
				</tr>
			 </thead>
			{% for _leader in leaders %}
			<tr>
			   <td>{{loop.index}}</td>
			   <td>{{_leader.nickname}}</td>
			   <td>{{_leader.wpm|round(2)}}</td>
			   <td>{{_leader.accuracy|round(2)}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
		{% endif %}

	</div>

	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<form id="username_form">
				<div class="form-group">
					<label class="unamelabel" for="inputUsername">Username</label>
					<input type="text" class="form-control" id="new_nickname" name="new_nickname" aria-describedby="usernameHelp" value="{{nickname}}" required>
					<small id="usernameHelp" class="form-text text-muted">Please dont be rude.</small>
				</div>
				<button type="submit" class="submit btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

	<script src="js/settings.js"></script>

	<!--<div id="SplashScreen" class="center">
        <img src="img/logo.jpg" height="400px" width="400px" />
        <div>
            <input id="PlayerName" type="text" placeholder="Username" />
            <input id="StartButton" type="button" value="Start Game" />
        </div>
    </div>-->

	<!-- Game canvas -->
	<div id="SplashScreen" class="container" role="main">
		<div class="row">
			<div class="col-sm-12">
				<div id="GameCanvas" style="display: none; max-width: 1100px; max-height: 624px;">
					<div id="animate-area" width="100%" style="position: relative;">
						<div class="half-canvas">
							<div id="shade-area" class="col-sm-10 col-md-offset-1">
								<div id="waiting-panel">
									<div class="sk-folding-cube">
										<div class="sk-cube1 sk-cube"></div>
										<div class="sk-cube2 sk-cube"></div>
										<div class="sk-cube4 sk-cube"></div>
										<div class="sk-cube3 sk-cube"></div>
									</div>
									<p>Waiting for players</p>
									<!--Testing only
									<button onclick="initBattleGround()">Init Battle</button>
									<button onclick="testMove(3)">3</button>
									<button onclick="testMove(5)">5</button>
									<button onclick="testMove(10)">10</button>
									<button onclick="testMove(20)">20</button>
									 End Testing -->
								</div>
								<div id="countdown-panel">
									<audio id="cound-down-audio" src="sound/count-down.mp3" preload="auto" autobuffer></audio>
									<p>Battle begins in</p>
									<div id="number-countdown"></div>
								</div>
								<p id="paragraph-input">Penises yay!</p>
								<p id="paragraph-source" style="font-size:50%;display:none"></p>

								<div id="game-finished-panel">
									<p>Game finished!</p>
								</div>

								<div id="wpm-panel">
									<p>Words per minute</p>
									<div id="wpm-div"></div>
								</div>

								<div id="complete-panel">
									<div class="col-sm-4 col-md-offset-4">
										<button id="replay" class="btn btn-lg btn-primary btn-block" type="submit" onclick="restartGame()">Play another game!</button>
									</div>
								</div>
							</div>
							<div id="leaderboard-shade-area" class="col-sm-10 col-md-offset-1 leaderboard-shade-area">
								<div id="leaderboard-panel">
								</div>
							</div>
							<div id="fight-sign"><img src="img/fight.png" style="width: 100%;" /></div>
							<audio id="fight-audio" src="sound/fight.mp3" preload="auto" autobuffer></audio>
							<div id="leaveBttn" class="leaveButton" role="main">
								<input type="image" src="img/exit.png" height="35px" width="35px" />
							</div>
							<div id="user-input-block" class="col-sm-6 col-md-offset-3">
								<div class="form-group">
									<label for="user-input">Start typing:</label>
									<input type="text" class="form-control user-input" id="user-input" />
								</div>
							</div>
						</div>
						<div id="fighting-ground" class="half-canvas">

						</div>
					</div>
					<script>
						$("#StartButton").click(function() {
							$.getScript("js/connection.js");
							// Game Starts
							$("#SplashScreen").hide();
							$("#GameCanvas").show();
						});
					</script>
					<script>
						$("#leaveBttn").click(function() {
							endGame();
							$("#GameCanvas").hide();
							$("#SplashScreen").show();
						});
					</script>
				</div>
			</div>
		</div>
	</div>
	</div>

</body>

</html>
