  <div class="row">
    <div class="col-md-5">
      {# only render table if data available #}
      {% if excerpt_leaders and excerpt_leaders|length > 0 %}
      <table class="table">
        <caption>Excerpt Leaderboard</caption>
        <thead>
          <tr>
            <th>Pos</th>
            <th>Player</th>
            <th>WPM</th>
            <th>Accuracy</th>
          </tr>
        </thead>
        {% for _leader in excerpt_leaders %}
        <tr>
           <td>{{loop.index}}</td>  {# position in leaderboard #}
           <td>{{_leader.nickname}}</td>
           <td>{{_leader.wpm|round(2)}}</td>
  			   <td>{{_leader.accuracy|round(2)}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      {% if users_top and users_top|length > 0 %}
      <table class="table">
        <caption>Your high scores</caption>
        <thead>
          <tr>
            <th>Pos</th>
            <th>Player</th>
            <th>WPM</th>
            <th>Accuracy</th>
          </tr>
        </thead>
        {% for _leader in users_top %}
        <tr>
           <td>{{loop.index}}</th>
           <td>{{_leader.nickname}}</th>
           <td>{{_leader.wpm|round(2)}}</td>
  			   <td>{{_leader.accuracy|round(2)}}</td>
        </th>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
